@model PokerSimulator.Web.Models.SimulationRequestModel

@{
    ViewBag.Title = "Index";
}

<h2>Simulator</h2>
<h4>New Simulation</h4>
<hr />

@using (Html.BeginForm())
{
<div class="row">
    <div class="col-md-4">
        <h4>Set Hands</h4>
        <div id="handsForm">

        </div>
        <button type="button" class="btn btn-success" id="addHand">Add Hand</button>
        <button type="button" class="btn btn-danger" id="removeHand">Remove Hand</button>
    </div>
    <div class="col-md-4">
        <h4>Options</h4>
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.RandomHands, new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.RandomHands)
                    @Html.ValidationMessageFor(model => model.RandomHands)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HandsToSimulate, new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.HandsToSimulate)
                    @Html.ValidationMessageFor(model => model.HandsToSimulate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RandomChange, new { @class = "control-label col-md-5" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.RandomChange)
                    @Html.ValidationMessageFor(model => model.RandomChange)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        @if (Model != null)
        {
            <h4>You Inputted:</h4>
            <dl class="dl-horizontal">
                <dt>Hands</dt>
                <dd>
                    @foreach (var item in Model.SetHands)
                    {
                        @: @item
                        }
                </dd>
                <dt>Random Hands</dt>
                <dd>@Model.RandomHands</dd>
                <dt>Hands to Simulate</dt>
                <dd>@Model.HandsToSimulate</dd>
                <dt>Random Change</dt>
                <dd>@Model.RandomChange</dd>
            </dl>
        }
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/simulator.js")
}
